# .gitignore
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.cache/
.dist/
build/
dist/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
coverage.xml
htmlcov/
logs/

# Ignore everything in config/
config/*

# But keep this specific file
!config/sample.config.ini

# Data directories
data/
data_sources/